<!DOCTYPE html>
<html>
<head>
    <title>Course Details</title>
</head>
<body>
    <h2 style="text-align:center;">Course Details</h2>

    <table id="course-detail" border="1" align="center">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
        <tr>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
        </tr>
    </table>

    <br>
    <h2 style="text-align:center;">Enrolled Students</h2>

    {% if students %}
    <table id="course-table" border="1" align="center">
        <tr>
            <th>SNo</th>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.roll_number }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="text-align:center;">No students enrolled.</p>
    {% endif %}

    <br><br>
    <div style="text-align:center;">
        <a href="/courses"><b>Go Back</b></a>
    </div>
</body>
</html>